.header-section-add {
  padding: 16px 10px;
  display: flex;
  justify-content: center;
}

input,
textarea,
select {
  background: rgba(255, 255, 255, 0.281);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.form-group {
  margin-top: 20px;
}

.btn-area {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.btn-area button {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
}

.form-select option {
  color: black;
}
.form-select option:focus {
  color: black;
}

.fa-triangle-exclamation {
  color: #ff2424;
  font-size: 22px;
  margin: 10px 10px 0px 0px;
}
.fa-home {
  font-size: 24px;
}
