body {
  background-image: linear-gradient(133deg, #00398e 0%, #e400ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  min-width: 100%;
}

* {
  color: #fafafa;
}

.first-section {
  background: rgba(255, 255, 255, 0.164);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
