body {
  background-color: rgb(29, 26, 32) !important;
  min-width: 100%;
}

.text-background {
  color: rgb(29, 26, 32) !important;
}

.text-foreground {
  color: #fafafa !important;
}

.bg-foreground {
  background-color: #fafafa !important;
}

.bg-background {
  background-color: rgb(29, 26, 32) !important;
}
